<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Welfare Office, MNNIT</title>
    <link rel="icon" href="media/logo-short.png">
		<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Desktop Side bar -->
    <div class="sidebar">
      <!-- hamburger -->
      <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- End of hamburger -->

      <!-- Desktop Sidemenu list -->
      <ul class="side-menu">
        <!-- Home link Icon -->
        <li>
        <a href="/">
          <div class="menu-icon" id="icon-1"></div>  <!-- Active Icon -->
          <p class="menu-option">Home</p>
        </a>
      </li>
      <!-- End of Home link Icon -->

      <!-- Scholarship link Icon -->
        <li class="scholarship-tab">
          <ul class="submenu scholarship-tab-submenu">
            <li><a href="scholarship?tab=scholarship-section">Scholarship and Fellowship</a></li>
            <li><a href="scholarship?tab=medals-section">Medals and Awards</a></li>
            <li><a href="scholarship?tab=mediclaim-section">Insuarance and Mediclaim</a></li>
            <li><a href="scholarship?tab=antiRagging-section">Anti-Ragging Initiatve</a></li>
            <li><a href="scholarship?tab=counseling-section">Counseling and Assistance</a></li>
          </ul>
        <a href="#">
          <div class="menu-icon" id="icon-2"></div>
          <p class="menu-option">Students Welfare Office</p>
        </a>
      </li>
      <!-- End of Scholarship link Icon -->

      <!-- Proctor link Icon -->
        <li class="proctor-tab">
          <ul class="submenu proctor-tab-submenu">
            <li><a href="proctor?tab=proctor-section">About Chief Proctor Office</a></li>
            <li><a href="proctor?tab=discipline-section">Discipline and Proctorial Board</a></li>
            <li><a href="proctor?tab=character-section">I-Card and Character Certificate</a></li>
          </ul>
        <a href="#">
          <div class="menu-icon" id="icon-3"></div>
          <p class="menu-option">Chief Proctor Office</p>
        </a>
      </li>
      <!-- End of Proctor link Icon -->

      <!-- Warden link Icon -->
        <li class="warden-tab">
          <ul class="submenu warden-tab-submenu">
            <li><a href="warden?tab=warden-section">About Chief Warden Office</a></li>
            <li><a href="warden?tab=team-section">Team of Wardens</a></li>
            <li><a href="warden?tab=hostelStructure-section">Hostel Structure</a></li>
            <li><a href="warden?tab=hostelManagement-section">Hostel Management</a></li>
            <li><a href="warden?tab=mess-section">Mess Management</a></li>
          </ul>
        <a href="#">
          <div class="menu-icon" id="icon-4"></div>
          <p class="menu-option">Chief Warden Office</p>
        </a>
      </li>
      <!-- End of Warden link icon -->

      <!-- Student link Icon -->
        <li class="student-tab">
          <ul class="submenu student-tab-submenu">
            <li><a href="student?tab=undertaking-section">Undertakings and Forms</a></li>
            <li><a href="http://www.mnnit.ac.in/index.php/notice-board" target="_blank">Student Notice</a></li>
          </ul>
        <a href="#">
          <div class="menu-icon" id="icon-5"></div>
          <p class="menu-option">Student Activity Office</p>
        </a>
      </li>
      <!-- End of Student link icon -->

      <!-- Gallery link Icon -->
        <li class="gallery-tab">
          <ul class="submenu gallery-tab-submenu">
            <li><a href="gallery?tab=institute-section">Institute Gallery</a></li>
            <li><a href="gallery?tab=bharat-section">Ek Bharat Shreshtha Bharat Gallery</a></li>
            <li><a href="gallery?tab=voter-section">Voter Awareness Paiting Competition Gallery</a></li>
          </ul>
        <a href="#">
          <div class="menu-icon active" id="icon-6"></div>
          <p class="menu-option">Gallery</p>
        </a>
      </li>
      <!-- End of Gallery link icon -->
      </ul>
      <!-- End of Desktop Sidemenu List -->
    </div>
    <!-- End of Desktop Side bar -->

    <!-- Right Side Body -->
    <div class="body">
      <!-- Logo Header -->
      <div class="header">
          <a href="/"><div class="logo"></div></a>
          <!-- Profile with submenu -->
          <div class="profile">
            <ul class="profile-submenu">
							<li>
                <a href="studentprofile?tab=student-profile">
                  <p>Profile</p>
                  <div id="profile-menu-profile" class="profile-submenu-icon"></div>
                </a>
              </li>
              <li>
                <a onclick="popup(0);" href="#">
                  <p>Student Login</p>
                  <div id="profile-menu-student-login" class="profile-submenu-icon"></div>
                </a>
              </li>
              <li>
                <a onclick="popup(1);" href="#">
                  <p>Department Login</p>
                  <div id="profile-menu-department-login" class="profile-submenu-icon"></div>
                </a>
              </li>
              <li>
                <a href="logout.php">
                  <p>Sign Out<p>
                  <div id="profile-menu-signout" class="profile-submenu-icon"></div>
                </a>
              </li>
            </ul>
          </div>


					<div class="moburger" id="nav-icon3">
		        <span></span>
		        <span></span>
		        <span></span>
		        <span></span>
		      </div>


          <!-- End of profile with submenu -->
      </div>
      <!-- End of Logo Header -->

      <!-- Body Container -->
      <div class="carousel-grid">
        <div id="institute-section">
          <h2>Institute Gallery</h2>
          <section class="img-grid">
            <div class="thumbnail">
              <div class="thumbnail-image" style="background-image : url('media/gallery/institute/1.jpg');"></div>
              <div class="thumbnail-body">
                <div class="content">
                  <h4>Administrative Building</h4>
                  <p>Feb 29, 2020</p>
                </div>
                <span>Institute</span>
              </div>
            </div>
            <div class="thumbnail">
              <div class="thumbnail-image" style="background-image : url('media/gallery/institute/2.jpg');"></div>
              <div class="thumbnail-body">
                <div class="content">
                  <h4>Main Building</h4>
                  <p>Feb 29, 2020</p>
                </div>
                <span>Institute</span>
              </div>
            </div>
            <div class="thumbnail">
              <div class="thumbnail-image" style="background-image : url('media/gallery/institute/3.jpg');"></div>
              <div class="thumbnail-body">
                <div class="content">
                  <h4>Tilak Hostel</h4>
                  <p>Feb 29, 2020</p>
                </div>
                <span>Institute</span>
              </div>
            </div>
            <div class="thumbnail">
              <div class="thumbnail-image" style="background-image : url('media/gallery/institute/4.jpg');"></div>
              <div class="thumbnail-body">
                <div class="content">
                  <h4>Administrative Building</h4>
                  <p>Feb 29, 2020</p>
                </div>
                <span>Institute</span>
              </div>
            </div>
            <div class="thumbnail">
              <div class="thumbnail-image" style="background-image : url('media/gallery/institute/5.jpg');"></div>
              <div class="thumbnail-body">
                <div class="content">
                  <h4>Multipurpose Hall</h4>
                  <p>Feb 29, 2020</p>
                </div>
                <span>Institute</span>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- End of Body Container -->
    </div>
    <!-- End of Right side body -->

    <!-- Overlay and Popups -->
    <div class="overlay">
      <form id="student-login-popup">
        <div class="popup-header">
          <h4>Student Login</h4>
          <div class="close-icon" onclick="popup(0)"></div>
        </div>
        <input type="text" name="username" value="" placeholder="Registration No."/>
        <input type="password" name="password" value="" placeholder="Password"/>
        <input type="submit" value="Login"/>
        <p class="form-note">
          NOTE: Password for first time login:
          <br>
          1. Your Date of Birth in DDMMYYYY Format
          <br>
          2. For M.Tech. Registration number starting from 2018: MMDDYYYY or MDYYYY
          <br><br>
          For problem in login write to deansw@mnnit.ac.in with Registration number and DOB
        </p>
      </form>
    </div>
    <div class="overlay">
      <form id="department-login-popup">
        <div class="popup-header">
          <h4>Department Login</h4>
          <div class="close-icon" onclick="popup(1)"></div>
        </div>
        <input type="text" name="username" value="" placeholder="Username"/>
        <input type="password" name="password" value="" placeholder="Password"/>
        <input type="submit" value="Login"/>
      </form>
    </div>
    <div class="overlay">
      <div class="close-icon" onclick="popup(2)"></div>
      <div class="popup img-big">
      </div>
    </div>
    <!-- End of Overlay and Popups -->

		<!-- Mobile Side Bar -->
		<div class="mobile-sidebar">
			<div class="close-icon"></div>
			<div class="profile-settings-container">
				<a href="#"><div class="profile-settings"></div></a>
				<div class="sub-settings-container">
					<a href="#">
						<div class="profile-submenu-icon" id="logout"></div>
						<p>Sign Out</p>
					</a>
				</div>
			</div>
			<a href="/"><div class="card-header">Home</div></a>
			<!-- Drop Down Accordion Code -->
			<div id="accordion">
  			<div class="card">
    			<div class="card-header" id="headingOne">
        		<div class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Students Welfare Office</div>
    			</div>
    			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      			<div class="card-body">
							<ul>
								<a href="scholarship?tab=scholarship-section"><li>Scholarship and Fellowship</li></a>
	            	<a href="scholarship?tab=medals-section"><li>Medals and Awards</li></a>
	            	<a href="scholarship?tab=mediclaim-section"><li>Insuarance and Mediclaim</li></a>
	            	<a href="scholarship?tab=antiRagging-section"><li>Anti-Ragging Initiatve</li></a>
	            	<a href="scholarship?tab=counseling-section"><li>Counseling and Assistance</li></a>
							</ul>
      			</div>
    			</div>
  			</div>
  			<div class="card">
    			<div class="card-header" id="headingTwo">
        		<div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Chief Proctor Office</div>
    			</div>
    			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      			<div class="card-body">
							<ul>
								<a href="proctor?tab=proctor-section"><li>About Chief Proctor Office</li></a>
								<a href="proctor?tab=discipline-section"><li>Discipline and Proctorial Board</li></a>
								<a href="proctor?tab=character-section"><li>I-Card and Character Certificate</li></a>
							</ul>
      			</div>
    			</div>
  			</div>
  			<div class="card">
    			<div class="card-header" id="headingThree">
        		<div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Chief Warden Office</div>
    			</div>
    			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      			<div class="card-body">
        			<ul>
                <a href="warden?tab=warden-section"><li>About Chief Warden Office</li></a>
								<a href="warden?tab=team-section"><li>Team of Wardens</li></a>
                <a href="warden?tab=hostelStructure-section"><li>Hostel Structure</li></a>
								<a href="warden?tab=hostelManagement-section"><li>Hostel Management</li></a>
                <a href="warden?tab=mess-section"><li>Mess Management</li></a>
							</ul>
      			</div>
    			</div>
  			</div>
        <div class="card">
    			<div class="card-header" id="headingFour">
        		<div class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Student Activity Office</div>
    			</div>
    			<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      			<div class="card-body">
        			<ul>
                <a href="student?tab=undertaking-section"><li>Undertakings and Forms</li></a>
								<a href="http://www.mnnit.ac.in/index.php/notice-board" target="_blank"><li>Student Notice</li></a>
							</ul>
      			</div>
    			</div>
  			</div>
        <div class="card">
    			<div class="card-header" id="headingFive">
        		<div class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Gallery</div>
    			</div>
    			<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      			<div class="card-body">
        			<ul>
                <a href="gallery?tab=institute-section"><li>Institute Gallery</li></a>
								<a href="gallery?tab=bharat-section"><li>Ek Bharat Shreshtha Bharat Gallery</li></a>
                <a href="gallery?tab=voter-section"><li>Voter Awareness Paiting Competition Gallery</li></a>
							</ul>
      			</div>
    			</div>
  			</div>
			</div>
			<!-- End of Drop Down Accordion Code -->
		</div>
		<!-- End of Mobile Side Bar -->
  	</body>
		<script>

		</script>
  	<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  	<script type="text/javascript" src="js/script.js"></script>
	</html>
